### Target Vendor/Product (support only Ralink RT3883/MT7620)
CONFIG_VENDOR=MediaTek
CONFIG_PRODUCT=MT7628

### Target ProductID (board select, max 23 ASCII symbols)
CONFIG_FIRMWARE_PRODUCT_ID="WT3020H"

############################################################
### Linux kernel configuration
############################################################

### Enable MT7620 CPU sleep mode (downclock to 200MHz on idle)
CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz
### 2.7 = MT7620 v2.7.2.0
### 3.0 = MT7620 v3.0.4.0
CONFIG_FIRMWARE_CHIP_7628=y
CONFIG_FIRMWARE_WIFI2_DRIVER=3.0



### Enable USB support
CONFIG_FIRMWARE_ENABLE_USB=y

### Include USB-Serial modules (e.g. pl2303). ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=y

CONFIG_FIRMWARE_INCLUDE_USB_SERIAL=y
CONFIG_FIRMWARE_INCLUDE_USB_WWAN=y
CONFIG_FIRMWARE_INCLUDE_MODEM=y
CONFIG_FIRMWARE_INCLUDE_USB_NET=y



############################################################
### Userspace configuration
############################################################

### Include WebUI international resources. Increased firmware size
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y





### Include Wireguard VPN module and utilite
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
CONFIG_FIRMWARE_INCLUDE_PPTPD=y
CONFIG_FIRMWARE_INCLUDE_L2TPD=y



### Reduce trx image size
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
